<%- include('partials/homepage_header.ejs') %>

<body style="background-color: #1d3557;">
    <section class="section-1"></section>
    <% if(allCourses.name == 'B.A.'){ %>
        <section class="section-2">
            <div class="prospectus">
                <h2><%= allCourses.name %> / Languages</h2>
            </div>
        </section>

        <section class="section-3">
            <div class="courses">
                <% for(let i=0; i<allCourses.courses.languages.length; i++){ %>
                <div class="course">
                    <h3><%= allCourses.courses.languages[i] %></h3>
                    <a class="bt3" href="<%= data[i+start].route %>">
                        <span>Learn More</span>
                        <span class="material-icons"> arrow_forward_ios </span>
                    </a>
                </div>
                <% } %>
            </div>
        </section>

        <section class="section-2">
        <div class="prospectus">
            <h2><%= allCourses.name %> / Others</h2>
        </div>
    </section>

    <section class="section-3">
        <div class="courses">
            <% for(let i=0; i<allCourses.courses.others.length; i++){ %>
            <div class="course">
                <h3><%= allCourses.courses.others[i] %></h3>
                <a class="bt3" href="<%= data[i+baOthersStart].route %>">
                    <span>Learn More</span>
                    <span class="material-icons"> arrow_forward_ios </span>
                </a>
            </div>
            <% } %>
        </div>
    </section>

    <% } else{ %>
        <section class="section-2">
            <div class="prospectus">
                <h2><%= allCourses.name %> </h2>
            </div>
        </section>
    
        <section class="section-3">
            <div class="courses">
                <% for(let i=0; i<allCourses.courses.length; i++){ %>
                <div class="course">
                    <h3><%= allCourses.courses[i] %></h3>
                    <a class="bt3" href="<%= data[i+start].route %>">
                        <span>Learn More</span>
                        <span class="material-icons"> arrow_forward_ios </span>
                    </a>
                </div>
                <% } %>
            </div>
        </section>
    <% } %> 
</body>

<%- include('partials/footer.ejs') %>