  <%- include('partials/homepage_header.ejs') %> 
    <section class="section-3">
      <div class="popular_courses">
        <h1><%= name %></h1>
        <!--line-->

        <!--line-->
        <p>
          CUT OFF LISTS, QUESTION PAPERS, ENTRANCE & COURSE SYLLABUS<br />
          RECOMMENDED BOOKS FOR PREPARATION, EVERYTHING AT ONE PLACE AT JMI
          ADMISSIONS BY TJR
        </p>
      </div>
    </section>
    <section>

    <table class="content">
      <!-- <caption>Details</caption> -->
      <thead>
        <tr id="header">
          <th>DETAILS</th><th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Seats</td><td><%= details.seats %></td>
        </tr>
        <tr>
          <td>UG Degree</td><td><%= details.ug_degree %></td>
        </tr>
        <tr>
          <td>Entrance</td><td><%= details.entrance %></td>
        </tr>
        <tr>
          <td>Fee</td><td><%= details.fees %></td>
        </tr>
        <tr>
          <td>Admission</td><td><%= details.admission %></td>
        </tr>
        <tr>
          <td>Eligibility</td><td><%= details.eligibility %></td>
        </tr>
      </tbody>
    </table>
    <h2>Entrance syllabus:</h2>
    <p class="syllabus"><%= syllabus.objective %></p>
    <p class="syllabus"><%= syllabus.subjective %></p>
    <p class="syllabus last"><%= syllabus.other %></p>

    <table class="content">
      <!-- <caption>Details</caption> -->
      <thead>
        <tr id="header">
          <th>Cut-off 2020</th> <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>General</td> <td><%= cutoff.general %></td>
        </tr>
        <tr>
          <td>Muslim</td> <td><%= cutoff.muslim %></td>
        </tr>
        <tr>
          <td>Muslim OBC/ST </td> <td><%= cutoff.muslim_obc_st %></td>
        </tr>
        <tr>
          <td>Muslim Women</td> <td><%= cutoff.muslim_women %></td>
        </tr>
        <tr>
          <td>Jamia Internal</td> <td><%= cutoff.jamia_internal %></td>
        </tr>
        <tr>
          <td>PWD/PD- Disability</td> <td><%= cutoff.pwd_pd_disability %></td>
        </tr>
        <tr>
          <td>PWD/PD- Locomoter disability</td> <td><%= cutoff.pwd_pd_locomoter_disability %></td>
        </tr>
        <tr>
          <td>PWD/PD- Blindeness Low Vision</td> <td><%= cutoff.pwd_pd_blindeness_low_vision %></td>
        </tr>
        <tr>
          <td>PWD/PD- Hearing Impairment</td> <td><%= cutoff.pwd_pd_hearing_impairment %></td>
        </tr>
        <tr>
          <td>PWD/PD- Autism Intellectual</td> <td><%= cutoff.pwd_pd_autism_intellectual %> </td>
        </tr>
        <tr>
          <td>PWD/PD- Chronic Neurology</td> <td><%= cutoff.pwd_pd_chronic_neurology %> </td>
        </tr>
        <tr>
          <td>JK</td> <td><%= cutoff.jk %></td>
        </tr>
        <tr>
          <td>KM</td> <td><%= cutoff.km %></td>
        </tr>
      </tbody>
    </table>
    <h2>Books For Preparation </h2>
    
    <!-- <p class="syllabus">Manohar Pandey</p>
    <p class="syllabus">Shafique ur Rehman</p>
    <p class="syllabus last">Arihant</p> -->
    
    <!-- Style this as above, plz guys Shairin/Abdullah/Nabeel -->
    <!-- Add some padding-bottom to the list-item  -->
    <ul>
    <% for (let i=0; i<preparation_books.length; i++) { %>
      <% if (i==preparation_books.length-1) { %>
        <li class="syllabus last"><%= i+1 %>&nbsp;&nbsp;&nbsp;<%= preparation_books[i] %></li>
      <% } else { %>
        <li class="syllabus"><%= i+1 %>&nbsp;&nbsp;&nbsp; <%= preparation_books[i] %> </li>
      <% } %>  
    <% } %>
  </ul>
  </section>

  <%- include('partials/footer.ejs') %>
  <script src="js/index.js"></script>
</body>
</html>